<launch>
	
   <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/laser/scan" >
        <param name="maxRange" value="4.5"/>
        <param name="maxUrange" value="4"/>
        <param name="delta" value="0.05" />
        <param name="srr" value="0.1" />
        <param name="srt" value="0.2" />
        <param name="str" value="0.1" />
        <param name="stt" value="0.2" />
        <param name="angularUpdate" value="0.1" />
        <param name="linearUpdate" value="0.1" />
        <param name="temporalUpdate" value="-1" />
        <param name="xmin" value="-10" />
        <param name="ymin" value="-10" />
        <param name="xmax" value="10" />
        <param name="ymax" value="10" />
	    <param name="odom_frame" value="odom" />
    </node>
	
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find beaglebone)/demconRobot.xacro'" />
	<node name="robotPublisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

	<node name="move_base" pkg="move_base" type="move_base" output="screen">
        <rosparam file="$(find beaglebone)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find beaglebone)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find beaglebone)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find beaglebone)/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find beaglebone)/base_local_planner_params.yaml" command="load" />
    </node>
	<node name="rviz" pkg="rviz" type="rviz" />
	
	
<!--
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
		<param name="output_frame" value="odom_combined"/>
		<param name="freq" value="120.0"/>
		<param name="sensor_timeout" value="0.5"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="true"/>
		<param name="vo_used" value="false"/>
		<param name="debug" value="false"/>
		<param name="self_diagnose" value="false"/>
	</node>
-->
	
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" >
		<param name="frequency" value="50" />
		<param name="sensor_timeout" value="2" />
		<param name="two_d_mode" value="true" />
		<param name="map_frame" value="map" />
		<param name="odom_frame" value="odom" />
		<param name="base_link_frame" value="base_footprint" />
		<param name="world_frame" value="odom" />
		
		<param name="odom0" value="odom" />
		<param name="imu0" value="imu_data" /> 
 		
		<rosparam param="odom0_config">[true, true, false, <!-- x y z --> 
                                false, false, true, <!-- roll pitch yaw -->
                                false, false, false, <!-- vx vy vz -->
                                false, false, true,  <!-- vroll vpitch vyaw -->
                                false, false, false]</rosparam> <!-- ax ay az -->
		<rosparam param="imu0_config">[false, false, false, <!-- x y z -->
                               false, false, true,  <!-- roll pitch yaw -->
                               false, false, false, <!-- vx vy vz -->
                               false, false, true,  <!-- vroll vpitch vyaw -->
                               true, false, false]</rosparam> <!-- ax ay az -->

		<param name="imu0_differential" value="true"/>
	
		<param name="odom0_queue_size" value="1" />
		<param name="imu0_queue_size" value="120" />
		<!--<param name="imu0_remove_gravitational_acceleration" value="true" />-->
		
	</node>

	
	<rosparam file="$(find beaglebone)/demcon_config.yaml" command="load"/>
	<node name="RobotController" pkg="beaglebone" type="RobotController" output="screen"></node>
	
</launch>

